:8080 {
    log {
        output stdout
        format console
    }

    handle /whdload/* {
        reverse_proxy 127.0.0.1:8090 {
            header_up Authorization "Bearer {$ROMM_TOKEN}"
        }
    }

    handle /api/roms/index-search {
        reverse_proxy 127.0.0.1:8091
    }

    handle /api/roms {
        reverse_proxy 127.0.0.1:8091
    }

    handle /api/* {
        reverse_proxy {$ROMM_URL} {
            header_up Host {http.reverse_proxy.upstream.hostport}
            header_up Authorization "Bearer {$ROMM_TOKEN}"
            header_up Accept application/json
        }
    }

    handle {
        respond "Not found" 404
    }
}
